/*
 * WebGL Noise Image Reveal
 * Original Author: ashthornton (https://codepen.io/ashthornton)
 * Source: https://codepen.io/ashthornton/pen/BaBjxyX
 * License: MIT (CodePen default)
 */

body {
  margin: 0;
  overflow: hidden;
  background: white;
}

.canvas-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.canvas-inner {
  perspective: 75px;
}

canvas {
  width: 512px;
  height: 512px;
}
