@import url("https://fonts.cdnfonts.com/css/schabo");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

:root {
  --base-100: #fcfcfc;
  --base-200: #3f3f3f;
  --base-300: #0f0f0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--base-200);
  color: var(--base-100);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  text-transform: uppercase;
  font-family: "SCHABO", sans-serif;
  font-size: clamp(6rem, 15vw, 12rem);
  font-weight: 500;
  line-height: 0.9;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--base-100);
  font-family: "DM Mono", monospace;
  font-size: 0.8rem;
  font-weight: 450;
  line-height: 1;
}

nav {
  position: fixed;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.25rem;
  z-index: 2;
}

nav a {
  padding: 0.5rem 0.75rem;
  background-color: var(--base-300);
  border-radius: 0.2rem;
  transition: transform 200ms ease-out;
}

nav a:active {
  transform: scale(0.9);
}

section {
  position: relative;
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.section-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.transition-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100;
  overflow: hidden;
}

.transition-block {
  position: absolute;
  background-color: var(--base-300);
  opacity: 0;
}
