<!--
  Lamp CSS
  Original Author: daniel-mu-oz (https://codepen.io/daniel-mu-oz)
  Source: https://codepen.io/daniel-mu-oz/pen/BaeRbXL
  License: MIT (CodePen default)
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lamp CSS</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="room">
    <div class="lamp">
      <div class="line"></div>
      <div class="base">
        <div class="light"></div>
      </div>
    </div>
    <div class="text">
      <span>WEBPROGRAMO</span>
    </div>
  </div>
</body>
</html>
