@import "tailwindcss";



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-chewy: var(--font-chewy);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* Hide scrollbar but keep scrolling */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

/* Utility class for hiding scrollbar on any element */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes waddle {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(-3deg);
  }

  15% {
    transform: rotate(-3deg);
  }

  /* Hold Left */
  25% {
    transform: rotate(3deg);
  }

  35% {
    transform: rotate(3deg);
  }

  /* Hold Right */
  45% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }

  /* Wait */
}

.animate-waddle {
  animation: waddle 4s ease-in-out infinite;
}